$dark-blue: #222;
$green: #90feb5;
$action-color: $green;
$white: #f2e9db;
$yellow: #FFC72C;

$black: #333;
$lightergray: #d5d5d5;
$lightgray: #f0f3f1;
$gray: #e3dddd;
$text: #888;
$button: #3e3e3f;
$button-hover: #565657;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

html, body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  overflow-x: hidden;
}


//NAV
.nav-btn {
  width: 30px;
  height: 25px;
  flex-direction: column;
  justify-content: space-between;
  display: none !important;
  cursor: pointer;
  z-index: 999;
}
.line {
  width: 100%;
  height: 3px;
  background-color: $white;
}
.dot {
  height: 10px;
  width: 10px;
  background-color: pink;
  border-radius: 50%;
  position: relative;
  top: -25px;
  right: -8px;
  visibility: hidden; 
}
.line-b {
  width: 100%;
  height: 3px;
  background-color: $dark-blue;
}
.navbar {
  position: fixed;
  top: 0;
	left: 0;
	width: 100%;
	text-align: center;
  z-index: 100;
  transition: all 200ms ease-in-out;
  background-color: rgba(0,0,0,0) !important;
}
.navbar a {
  font-weight: 500;
  text-decoration: none;
  color: $white !important;
}

.navbar_p {
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.2);
  align-items: center;
 }
.navbar_p .nav-link {
  color: $dark-blue;
  font-weight: 500;
}
.navbar_p i {
  color: $dark-blue;
}
.navbar_p i:hover{
  color: $lightergray;
}
.logo {
  margin-left: 10px;
  width: 130px;
  cursor: pointer;
}
.logoB {
 display: none;
 width: 50px;
 cursor: pointer;
}
.logo_p {
width: 130px;
padding-top: 5px;
}

.nav-link {
   color:$white;
}
.nav-link:hover {
 color: $text !important;
}
.cart-btn {
  padding: 0 20px;
  color: $white;
  font-size: 16pt;
  cursor: pointer;
}

.cart-btn:hover {
color: $text
}
.scroll-up .navbar {
  background-color: #fff !important;
  height: auto;
  justify-content: center;
  filter: drop-shadow(0 -10px 20px rgb(170, 170, 170));
}
.scroll-up .navbar .nav-link {
  color: $dark-blue !important;
  font-weight: 500;
}
.scroll-up .line {
  background-color: $dark-blue;
}
.scroll-up .bi {
  color: $dark-blue;
}
.scroll-up .logoB {
  display: initial;
  margin-left:30px;
}
.scroll-up .logo {
  display: none;
}
.scroll-down .navbar {
  transform: translate3d(0, -100%, 0);
}


//cart
.cart_container {
  position:fixed;
  right: 0px;
  min-height: 100vh;
  max-height: 100vh;
  padding-top: 40px;
  top:0px;
  width: 30%;
  background-color: $black;
  flex-direction: column;
  transform: translateX(200%);
  transition: transform 0.5s ease-in;
  overflow-y: scroll;
  padding-bottom: 40px;
}

.fa-shopping-cart {
  z-index: 9999;
}

.active {
  transform: translateX(0%);
  visibility: visible;
}

.cart-title {
  color: $white;
  margin-top: 10px;
}
.clear_btn {
  border: 0;
  background-color: rgba(0,0,0,0);
  color: $white;
}
 .cart_container .button {
   margin: 10px;
   padding: 15px;
   transition: all 200ms ease-in-out;
 }
 .product-list, .total {
   color: white;
 }
.cart_container hr {
  border-top-color:#bbb;
  opacity:0.5;
  width: 80%;
  display: inline-block;
}
 .btn-add, .btn-sup {
  border: white solid 1px;
  border-radius: 2px;
  width: 25px;
  height: 25px;
  background-color: #333;
  color: white; 
  font-size: 12pt;
  margin: 0 8px;
}
.btn-trash {
  border-radius: 2px;
  border: #F94646 solid 1px;
  background-color: #F94646;
  width: 30px;
}
.cart-close {
  display: flex;
  padding: 0 20px;
  background-color: $black;
  font-size: 18pt;
  cursor: pointer;
  border:  none;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
}

//MAIN -INDEX

#main_container {
    background-image: url(../img/bg4.jpg);
    height: 790px; 
    padding: 0; 
}
.container_1-img {
    width: 80%;
    padding-top: 50px;
    margin-top:60px;
    transition-timing-function: ease-in;
    transition: 0.8s;
    }
    
.container_1-img:hover {
      opacity: 1;
      -webkit-filter: grayscale(0%);
      filter: grayscale(0%);
      -moz-transform: scale(1.1);
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
      transition-timing-function: ease-in;
      transition: 0.8s;
      overflow: visible;
    }

#container_1-titles {
    margin-top:50px;
    padding-top: 20px;
    color: $white;
    align-self: center;
    flex-direction: column;
    font-family: 'raleway', sans-serif;
}

.container_1-title {
    font-size: 8em;
    padding: 5px;
    margin-left: 50px;
    font-weight: 800;
    font-family: 'raleway', sans-serif;
 }
 .container_1-subtitle {
     font-weight: 300;
     padding: 5px;
     margin-left: 50px;
 }
 
//BUTTON

.button_container {
    display: block;
    height: 100%;
    animation: hue-rotate 10s linear infinite; 
    padding: 20px;
    margin-left: 50px;
    margin-top: 20px;
  }
 
  .button {
    -webkit-font-smoothing: antialiased;
    background-color: $dark-blue;
    border: none;
    color: #fff;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 100;
    text-decoration: none;
    user-select: none;
    letter-spacing: 1px;
    color: white;
    padding: 20px 40px;
    text-transform: uppercase;
    transition: all 0.1s ease-out;
  
    &:hover {
      background-color: $action-color;
      color: #fff;
    }
    
    &:active {
      transform: scale(0.95);
    }
  
    &--bubble {
      position: relative;
      z-index: 2;
      color: white;
      background: none;
  
      &:hover {
        background: none;
      }
  
      &:hover + .button--bubble__effect-container .circle {
        background: darken($action-color, 15%);
      }
  
      &:hover + .button--bubble__effect-container .button {
        background: darken($action-color, 15%);
      }
  
      &:active + .button--bubble__effect-container {
        transform: scale(0.95);
      }
  
      &__container {
        position: relative;
        display: inline-block;
  
        .effect-button {
          position: absolute;
          width: 50%;
          height: 25%;
          top: 50%;
          left: 25%;
          z-index: 1;
          transform: translateY(-50%);
          background: $dark-blue;
          transition: background 0.1s ease-out;
        }
      }
    }
  }
  
  .button--bubble__effect-container {
    position: absolute;
    display: block;
    width: 200%;
    height: 400%;
    top: -150%;
    left: -50%;
    -webkit-filter: url("#goo");
    filter: url("#goo");
    transition: all 0.1s ease-out;
    pointer-events: none;
  
    .circle {
      position: absolute;
      width: 25px;
      height: 25px;
      border-radius: 15px;
      background: $dark-blue;
      transition: background 0.1s ease-out;
  
      &.top-left {
          top: 40%;
          left: 27%;
      }
  
      &.bottom-right {
          bottom: 40%;
          right: 27%;
      }
    }
  }
  
  .goo {
    position: absolute;
    visibility: hidden;
    width: 1px;
    height: 1px;
  }
  
 
  .button--bubble__container {
    top: 50%;
    margin-top: -25px;
  }
  
  @keyframes hue-rotate {
        from {
          -webkit-filter: hue-rotate(0);
          -moz-filter: hue-rotate(0);
          -ms-filter: hue-rotate(0);
          filter: hue-rotate(0);
        }
        to {
          -webkit-filter: hue-rotate(360deg);
          -moz-filter: hue-rotate(360deg);
          -ms-filter: hue-rotate(360deg);
          filter: hue-rotate(360deg);
        }
  }

//ALBUM

  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

.product_img {
  transition-timing-function: ease-in;
  transition: 0.8s;
  overflow: hidden;
  }
  
.card {
  overflow: hidden;
  cursor: pointer;
  
}
.fruit_title {
  margin-top: -50px;
  margin-bottom: 20px;
  font-size: 35px;
  font-weight: 300;
}

//CONT 2 
.container-fluid_2 {
  height: 700px;
  background-color: #FFC72C;
  align-items: center;

}
.cont_2-img {
  width: 90%;
  margin-top: 15px;
  padding-top: 10px;

}

.cont_2-title {
  font-size: 8em;
  font-weight: 800;
  font-family: 'raleway', sans-serif;
  color: #fff;
}
.cont_2-parr {
  font-weight: 600;
  margin-right: 25px;
  color: #fff;
  font-size: 24px;
}

#cont_2-button{
	width: 30%;
	max-width:500px;
	border: white solid 1px;
	cursor: pointer;
	background-color: $dark-blue;
	color: white;
	text-transform: uppercase;
	font-size: 14px;
	padding-top: 15px;
	padding-bottom: 15px;
	font-weight: 600;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
#cont_2-button:hover{
	background-color: rgba(0,0,0,0);
	color: $dark-blue;
  border: $dark-blue solid 1px;
}

//CONT3


.icon {
  margin-top: 60px;
  padding-top: 60px;
  width: 130px;
}

.cont_3-parr {
  padding: 60px;
  font-size: 14pt;
  font-weight: 400;
  margin-top:25px;
}

@keyframes fadeImg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
//FOOTER
#site-footer {
  background-color:#26272b;
  padding:45px;
  font-size:15px;
  line-height:24px;
  color:#737373;
  text-align: left;
  bottom:0;
}
#site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
#site-footer hr.small
{
  margin:20px 0
}
.footer-text {
  text-align: justify;
  padding: 15px;
  font-size: 12pt;
}
#site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px;
  padding: 20px;
}
#footer-links_cont {
  padding-left: 80px;
}
#site-footer a {
  font-size: 12pt;
  color:#737373;
}
#site-footer a:hover
{
  color:$green;
  text-decoration:none;
}
.footer-links{
  padding: 15px;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
#site-footer .social-icons
{
  text-align:right;
}
#site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}

.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:10px;
}


//PRODUCT PAGE
.img-p {
  width: 500px;
}
#cont_product {
  margin-top: 60px;
}
#product-img {
  background-color: $yellow;
  height: 450px;
  align-items: center;
  }
.btn-comprar {
  border: #222 solid 1px;
  padding: 5px 10px;
  margin-top: 25px;
}
.qty ._btn {
  border: none;
  margin: 0 10px;
  padding: 5px;
}
.btn .button {
  margin: 10px;
   padding: 15px;
}

@media (min-width: 768px) {
   .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }  
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}

@media only screen and (min-width: 360px) and (max-width: 769px) {

.cart_container {
  position: absolute;
  right: 0px;
  min-height: 100vh;
  max-height: auto;
  padding-top: 90px;
  top:0px;
  width: 70%;
  background-color: $black;
  flex-direction: column;
  transform: translateX(200%);
  transition: transform 0.5s ease-in;
}
.logo {
  width: 120px;
  margin-left: 15px;
  padding: 0;
  justify-self: center;
}
.cart-close span {
  font-size: 35px;
}
#container_1-titles {
    margin-top:100px;
}
.container_1-title {
    font-size: 7em;
    margin-left: 0
 }
 .container_1-subtitle {
     margin-left: 0;
     font-size: 28px;
 }
 .button_container {
  margin-left: 0;
  }
  .button {
  padding: 20px 20px;
  }
  .container_1-img {
    width: 70%;
    padding-top: 0;
    margin-top:30px;
    transition-timing-function: ease-in;
    transition: 0.8s;
    }
  .cont_2-title {
    font-size: 6em;
  }
  .cont_2-img {
    width: 90%;
  }
  .cont_2-parr {
    margin: 15px;
    font-size: 16pt;
  }
   #cont_2-text {
     padding-bottom: 30px;
   }

  .nav-list{
    position:absolute;
    left: 0px;
    height: 100vh;
    padding-top: 90px;
    top:0px;
    background-color: $black;
    flex-direction: column;
    width: 50%;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in;
  }
  .navbar {
    justify-content: space-around;
  }
  .navbar-brand {
    margin: 0;
  }
  .nav-btn {
    display: flex !important;
  }
  .active {
    transform: translateX(0%);
  }
  #footer-links_cont {
    padding-left: 0;
  }
  .scroll-up .navbar .nav-link {
    color: $white !important;
  }
}